body{
  background-color: #efefef;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: #000;
}

.content{
  max-width: 940px;
  min-width: 720px;
  margin: 10px auto 10px auto;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover{
  color: #af0303;
}

.header{
  text-align: center;
  text-transform: uppercase;
  padding: 5px 0px 5px 0px;
  font-size: 2em;
}


#navigation{
  border-top: 2px solid;
  border-bottom: 2px solid;
  padding: 10px;
  text-align: center;
}

li{
  display: inline;
  border: 2px solid #7e1616;
  border-radius: 5px;
  background-color: #333333;
  padding: 2px 30px 2px 30px;
  margin: 10px auto 10px auto;
  text-transform: uppercase;
  font-weight: bold;
  font-size; 1.2em;
}

.slider{
  width: 600px;
  height: 250px;
  margin: auto;
  background-image: url(/images/programmingbox.jpg);
  text-align: center;
  text-transform: uppercase;
  font-size: 50px;
  border: 5px inset #990000;
  color: #fff;
}
