body{
  background-color: #E9E6FF;
  color: #0E1C36;
}

hr{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #E9E6FF, #333, #E9E6FF);
}

h2{
  color: #BF0603;
}

h3{
  color: #BF0603;
}

.divbox{
  background-color: #ee3e80;
  width: 400px;
  height: 300px;
}

.insidebox{
  background-color: #F9FBF2;
  width: 75%;
  height: 75%;
}

th{
  border-bottom: 1px solid #0088dd;
  text-align: left;
  color: #0088dd;
  font-weight: normal;
}

td.description{
  min-width: 450px;
  max-width: 650px;
  text-align: left;
  padding: 5px;
  margin: 0px;
}
table{
  margin: auto;
}

td{
  background-color: #F5F9F8;
}

img{
  border: 1px solid #0088dd;
}
