body{
  background-color: #E9E6FF;
  color: #0E1C36;
}

hr{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #E9E6FF, #333, #E9E6FF);
}

h2{
  color: #BF0603;
}

h3{
  color: #BF0603;
}

.divbox{
  background-color: #ee3e80;
  width: 400px;
  height: 300px;
}

.insidebox{
  background-color: #F9FBF2;
  width: 75%;
  height: 75%;
}

th{
  border-bottom: 1px solid #0088dd;
  text-align: left;
  color: #0088dd;
  font-weight: normal;
}

td.description{
  min-width: 450px;
  max-width: 650px;
  text-align: left;
  font-size: 14px;
  padding: 5px;
  margin: 0px;
}
table{
  margin: auto;
}

td{
  background-color: #F5F9F8;
}

img{
  border: 1px solid #0088dd;
}

h4{
  width: 300px;
  font-size: 90%;
  line-height: 1.2em;
}

h4{
  font-size: 20px;
  color: #0088dd;
  border-bottom: 1px solid #0088dd;
}

.overflow{
  background-color: white;
  width:300px;
  margin: auto;
}

.hidden-overflow{
  min-height: 30px;
  max-height: 60px;
  font-size: 90%;
  line-height: 1.2em;
  overflow: hidden;
}

.scroll-overflow{
  min-height: 30px;
  max-height: 60px;
  font-size: 90%;
  line-height: 1.2em;
  overflow: scroll;
}

.borderstyle{
  background-color: #fff;
  width: 300px;
  margin: auto;
  font-weight: bold;
}
#borderwidth{
  padding: 10px;
  border: solid;
  border-width: 1px 2px 8px 2px;
}
#borderstyle-01{
  padding: 10px;
  border-style: dashed;
}

#borderstyle-02{
  padding: 10px;
  border-style: double;
}

#bordercolor{
  padding: 10px;
  border: solid;
  border-color: #bbbaaa #111 #ee3e80 #0088dd;
}

#shorthand{
  padding: 10px;
  border: 4px inset #0088dd;
}

.padding-margin{
  background-color: #fff;
  width: 400px;
  margin: auto;
}

.nopadding{
  border: 1px solid #0088dd;
}

.padding{
  border: 1px solid #0088dd;
  padding: 10px;
}

.nomargin{
  border: 1px solid #0088dd;
}

.margin{
  border: 1px solid #0088dd;
  margin: 10px;
}

.padmargin{
  border: 1px solid #0088dd;
  margin: 10px;
  padding: 10px;
}

.inlineblock{
  background-color: #fff;
  width: 550px;
  padding: 1px;
  margin: auto;
}

li{
  background-color: #fff;
  border: 1px solid #000;
  display: inline;
  margin-right: 10px;
  padding: 5px;
  text-transform: uppercase;
}

.randomli{
  visibility: hidden;
}
