body{
  background-color: #E9E6FF;
  font-family: Arial, Verdana, sans-serif;
}

hr{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #E9E6FF, #333, #E9E6FF);
}

h2{
  color: #BF0603;
}

p{
  margin: 0px;
  padding: 5px;
  color: white;
}

.title {
  background-color: DarkCyan;
  color: #fff;
  padding: 20px;
}

.category {
  background-color: #ee3e80;
  color: #fff;
  padding: 20px;
}

.paragraph{
  background-color: white;
  padding: 20px;
  color: #000;
}

.box{
  padding-left: 40px;
  padding-right: 40px;
}

.border{
  border: 1px solid #000;
}

.phscale{
  border: 1px solid #000;
  background-color: #1A1406;
  padding: 20px;
  color: #E5DA8C;
}

#zero{
  background-color:#990000;
}

#one{
  background-color:#cc0000;
}
#two{
  background-color:#ff0000;
}

#three{
  background-color: #ff3333;
}

#four{
  background-color: #ff6666;
}

#five{
  background-color: #ff8080;
}

#six{
  background-color: #ffb3b3;
}

#seven{
  background-color: #009933;
}

#eight{
  background-color: #ccccff;
}

#nine{
  background-color: #9999ff;
}
#ten{
  background-color: #6666ff;
}

#eleven{
  background-color: #3333ff;
}

#twelve{
  background-color: #0000ff;
}

#thirteen{
  background-color: #0000cc;
}

#fourteen{
  background-color: #000099;
}
