@font-face{
  font-family: 'MotionPicture';
  src: url('/fonts/MotionPicture.ttf');
}

body{
  background-color: #E9E6FF;
  font-family: Arial, Verdana, sans-serif;
  color: #665544;
}

a:link{
  color: #cc0099;
}

a:hover{
  color: #009933;
  text-decoration: underline;
}

a:active{
  color: darkcyan;
  text-decoration: none;
}

a:visited{
  color: #993333;
}

p > a{
  text-decoration: none;
}

h1{
  color:#BF0603;
  font-family: Georgia, Times, serif;
  font-size: 22px;
}

h2{
  color:#BF0603;
  font-size: 20px;
  font-family: Georgia, Times, serif;
}

h3{
  color:#665544;
}

p {
  color:#665544;
}

hr{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #E9E6FF, #333, #E9E6FF);
}

.title{
  color: #000;
}

.credits{
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
}

.intro{
  font-size: 1.3em;
}

.paragraph{
  font-size:12px;
}

.urlparag{
  font-family: MotionPicture, sans-serif;
  font-size: 24px;
}

.boldtitle{
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
}

.italicparag{
  font-style: italic;
}

.lowercase{
  text-transform: lowercase;
}

.line-height{
  line-height: 2em;
}

.word-spacing{
  word-spacing: 0.5em;
}

.letter-spacing{
  letter-spacing: 1em;
  text-transform: uppercase;
  font-weight: bold;
}


.text-align{
  background-color: #e2e2e2;
  border: 1px solid #000;
  width: 390px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;;
}

.headname{
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  line-height: 0em;
}

.author{
  text-align: right;
  font-style: italic;
}

.sentence{
  text-align: justify;
}

.text-shadow{
  border: 1px solid #000;
  width: 500px;
  margin: auto;
}

.text-shadow p{
  margin: 0px;
  padding: 10px;
  font-size: 20px;
  text-align: center;
}

#one{
  background-color:#c1d7d7;
  color: #666;
  text-shadow: 1px 1px 0px #000;
}
#two{
  background-color:#83afaf;
  color: #666;
  text-shadow: 1px 1px 3px #666;
}

#three{
  background-color: #507c7c;
  color: #fff;
  text-shadow: 2px 2px 7px #111;
}

#four{
  background-color: #324e4e;
  color: #324e4e;
  text-shadow: -1px -2px 6px #fff;
}

#five{
  background-color: #1f2e2e;
  color: #fff;
  text-shadow: -1px -1px #666;
}
