body{
  background-color: #E9E6FF;
  font-family: Arial, Verdana, sans-serif;
  color: #665544;
  padding: 20px
}
h1{
  color:#ee3e80;
}
h2{
  color:#ee0000;
  font-size: 20px;
}
h3{
  color:#665544;
}
p {
  color:#665544;
}

hr{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #E9E6FF, #333, #E9E6FF);
}

.pagebox{
  border: 1px solid #665544;
  background-color: #fefefe;
  padding: inherit;
}
