body{
  background-color: #E9E6FF;
}
table{
  border: 1px solid #333;
}
hr{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #E9E6FF, #333, #E9E6FF);
}
h2{
  color: #C90A0A;
}
#headerpic{
  margin: auto;
  display: block;
}
