body{
  background-color: #E9E6FF;
}


.learn-contact-details{
  width:200px;
}
table{
}

tr{
  border: 1px solid #333;
}

td{
  border: 1px solid #333;
}

th{
  border: 1px solid #333;
}

thead{
  font-weight: bold;
}

tbody{

}

tfoot{
  font-style: italic;
}

hr{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #E9E6FF, #333, #E9E6FF);
}
h2{
  color: #C90A0A;
}

.markup-class{
  font-weight:bold;
}
#markup-id{
  font-style:italic;
}
