body{
  background-color: #E9E6FF;
}

table{
  margin: auto;
}

tr{
  border: 1px solid #333;
  margin: auto;
}

td{
  border: 1px solid #333;
  margin: auto;
}

th{
  border: 1px solid #333;
  margin: auto;
}

thead{
  font-weight: bold;
}

tbody{

}

tfoot{
  font-style: italic;
}

hr{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #E9E6FF, #333, #E9E6FF);
}
h2{
  color: #C90A0A;
}
