body{
  background-color: #efefef;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: #000;
}


.content{
  min-width: 720px;
  max-width: 920px;
  margin: 10px auto 10px auto;
  overflow: auto;
}

a {
  text-decoration: none;
}

a:hover{
  color: #e66454;
}

.header{
  text-align: center;
  text-transform: uppercase;
  padding: 5px 0px 5px 0px;
  font-size: 2em;
  border-bottom: 1px solid #000;
}


#navigation{
  width: 100%;
  margin: auto;
  padding: 10px;
  text-align: center;
}

#navigation li{
  display: inline;
  border: 2px solid #ec1e4a;
  background-color: #070f2d;
  padding: 2px 30px 2px 30px;
  margin: 10px auto 10px auto;
  text-transform: uppercase;
  font-weight: bold;
  font-size; 1.2em;
}

#navigation li:hover{
  background-color: #fff;
}

#navigation a li {
  color: #fff;
}

#navigation a li:hover{
  color: #af0303;
}



.slider{
  width: 100%;
  height: 250px;
  background-image: url(/images/programming-slide.jpg);
  text-transform: uppercase;
  color: #fff;
}

.col-12{
  width: 100%;
  margin-top: 10px;
  background-color: #ffffff;
  border: 1px solid #bfbfbf;
}

.col-inside{
  padding: 10px;
}


h2{
  background-color: #39393d;
  color: #fff;
  font-size: 20px;
  padding: 10px;
  margin: 0px;
  text-align: center;
}

h3{
  border-bottom: 1px solid #bfbfbf;
  color: #39393d;
  font-size: 18px;
  padding: 10px 0px 10px 0px;
  margin: 0px;
}

div p{
  font-size: 14px;
}

p{
  width: 450px;
  text-align: justify;
}

.h4head{
  background-color: #efefef;
  padding: 10px;
}

.static-pos{
  position: static;
}

.relative-pos{
  position: relative;
  top: 10px;
  left: 50px;
}

.absolute-pos{
  position: absolute;
  width: 250px;
  left: 800px;
}

blockquote{
  float: right;
  border-top: 1px solid #665544;
  border-bottom: 1px solid #665544;
  width: 350px;
  margin: 0px 0px 10px 10px;
  padding: 10px;
  font-size: 90%;
  font-family: Georgia. Times, sans-serif;
  font-style: italic;

}

.float-text{
  width: 100%;
}

.clear-text{
  background-color: #efefef;
  float: left;
  width: 270px;
  margin: 5px;
  padding: 5px;
}

.clear-div{
  border: 1px solid #665544;
  width: 100%;
  overflow: auto;
}

.link-layout{
  background-color: #efefef;
  border: 1px solid #665544;
  padding: 5px;
  margin: 5px;
  text-transform: uppercase;
}
