@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

body{
  background-color: #fff;
  color: #878b8d;
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  font-size: 90%;
  font-weight: lighter;
}

.header{
  padding: 0px;
  margin: 0px;
}

a{
  text-decoration: none;
  color: #494c43;
}

a:hover{
  color: #ee5454;
}

.header{
  position:fixed;
  height: 45px;
  padding: 10px 0px 10px 0px;
  top: 0px;
  width: 100%;
  z-index: 50;
  background-color: #fff;
}

.logo{
  padding-top: 5px;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;

}

.nav{
  text-align: right;
}

li{
  text-transform: uppercase;
  display: inline;
  font-size: 110%;
  padding: 0px 10px 10px 10px;
}

li:hover{
  border-bottom: 1px solid #ee5454;
  text-shadow: 0 0 5px #e0e0e0;
}


.wrapper{
  background: url(http://erajsattori.com/images/main-bg.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  background-color: #000;
}

.main-bg{
  height: 500px;
}

.main-title{
  position: absolute;
  border-bottom: 1px solid #fff;
  color: #fff;
  top: 35%;
  font-size: 210%;
  padding-bottom: 20px;
}

#name{
  font-size: 150%;
  font-weight: bold;
}

.project{
  position: relative;
  width: 100%;
  background-color: #EE5454;
}

#project-title{
  color: #fff;
  font-weight: bold;
  font-size: 2.5em;
  text-align: center;
  padding: 40px 0px 35px 0px;
}

.practice{
  background-color: #494C43;
  width: 100%;
  position:relative;
}

.article{
  color: #000;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin: 10px 0px 50px 0px;
  padding-bottom: 10px;
}

.study-menu{
  color: #000;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
  margin: 10px 0px 50px 0px;
  padding-bottom: 10px;
}

p{
  padding-left: 10px;
}


h2{
  padding-left: 10px;
}

h3{
  margin: 5px;
}

h4{
  margin: 5px;
}

p{
  margin: 5px;
}

.footer{
  font-size: 120%;
  text-align: center;
  padding: 15px 0px 15px 0px;
}

/*
  Introduction to JavaScript
*/


#cost{
    background-color: #f84c53;
    color: #fff;
    width: auto;
    height: 1em;
    padding: 0.5em 0.75em;}

.signage{
  text-transform: uppercase;
  text-align: center;
}

#username{
  font-size: 110%;
  font-weight: bold;
}

/*
  Endline
*/
