body{
  background-color: #fff;
  width: 960px;
  margin: 0 auto;
  text-align: center;
  color: #656565;
}

#header{
  color: #646464;
  padding-top: 10px;
}

li{
  display: inline;
  padding: 5px;
}
#content{
  overflow: auto;
}
#nav, #feature, #footer{
  border: 1px solid #656565;
  background-color: #efefef;
  padding: 5px;
  margin: 10px;
}

.article-01, .article-02, .article-03{
  border: 1px solid #656565;
  float: left;
  width: 300px;
  margin: 9px;
  background-color: #efefef;
}
